@charset "BIG5";

/* header 超連結
#header a{
	font-size: 14px;
	text-decoration: none;
	color: blue;
}*/

/* 每個頁面的標題*/
#title{
	text-align: center;
}

/* 會員中心表單 */
.formFather{
	width: 370px;
    font-size: 18px;
    height: 25px;
    margin: 5px 0 0 0;
}

.leftForm{
	width: 120px;
	float: left;
	height: 25px;
}

.rightForm{
	width: 250px;
	float: left;
	height: 25px;
}

/*會員中心 彈出窗 */
#userChange, #passwordChange, #userDelete{
	display: none;
	position: absolute;
	z-index: 9001;
	background-color: #FFF;
	border: #5599FF 5px solid;
	border-radius: 10px;
	width: 500px;
	height:  300px;
}

/* 商品目錄列表 */
#category{
	width: 100%;
	height: 200px;
	border: #FF8C00 2px solid;
}

#category ul{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	float: left;
	border-right: #FFDAB9 1px solid;
	height: 100%;
}

#category li{
	margin: 5px 0 0 0;
	list-style-type: none;
	font-size: 18px;
	width: 100px;
	display:  flex;
	justify-content:  center;
}

#category li:hover{
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
}

/* 商品列表 */
#productList {
	float: left;
	width: 100%;
}

#productList div{
	width: 250px;
	height: 300px;
	float: left;
}

#productList img{
	height: 200px;
}

#productList span, b{
	font-size: 20px;
}

/* 註冊表單 */
#registerInformation{
	display: flex;
	justify-content: center;
}

#registerInformation .words{
	margin: 0px;
	padding: 0px;
	height: 25px;
	font-size: 18px;
}

#registerInformation input{
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 250px;
	font-size: 18px;
}

#registerInformation div{
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 250px;
	font-size: 18px;
}

/* 表單內的刷新超連結 */
#registerInformation a{
	font-size: 12px;
	text-decoration: none;
	color: blue;
}

/* 圖片預覽 */
#registerInformation #imagePreview{
	height: auto;
}

#imagePreview img{
	height: 150px;
}

#registerInformation #submitButton{
	height: 25px;
	width: 50px;
	font-size: 18px;
}

#registerInformation #deleteButton{
	height: 25px;
	width: 50px;
	font-size: 18px;
}

/* 商品修改頁面的選項按鈕 */
#registerInformation #state1, #registerInformation #state0{
	width: auto;
	height: auto;
}

/* 商品修改頁面的選項按鈕的文字 */
#registerInformation #state1 + span, #registerInformation #state0 + span{
	font-size: 18px;
}

/* 登入頁面的提示訊息框 */
#registerInformation #loginAlert{
	margin: 7px 0 0 0;
}

/* 商品詳細內容頁面的圖片大小 */
#productDetailImage{
	height: 500px;
}

/* 我的賣場 商品列表 */
#product{
	font-size: 20px;
	height: 260px;
	border: grey 1px solid;
	margin: 0 0 3px 0;
	
}

#product .wrap{
	height: 100%;
	width: 33.3%;
	float: left;
	display:  flex;
	align-items: center;
	justify-content:  center;
}

#product img{
	height: 100%;
}

/* 購物車頁面 商品列表 */
#cart{
	font-size: 26px;
}

#cart a{
	text-decoration: none;
	color: blue;
}

.cart{
	font-size: 20px;
	height: 260px;
	border: grey 1px solid;
	margin: 0 0 3px 0;
	
}

.cart .wrap{
	height: 100%;
	width: 33.3%;
	float: left;
	display:  flex;
	align-items: center;
	justify-content:  center;
}

.cart .wrap2{
	display:  flex;
	align-items: center;
	justify-content:  center;
	flex-direction: column;
}

.cart img{
	height: 100%;
}

/* 收件人管理 遮罩 */
#mask{
	display: none;
	position: absolute;
	z-index: 9000;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
	width: 100%;
	height:  100%;
}

/* 收件人管理 彈出窗 */
#recipientForm{
	display: none;
	position: absolute;
	z-index: 9001;
	background-color: #FFF;
	border: #5599FF 5px solid;
	border-radius: 10px;
	width: 370px;
	height:  450px;
}

/* 置中效果 */
#recipientForm #wrap{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* 收件人管理 下拉選單 */
#recipientForm select {
	font-size: 20px;
	height: 35.97px;
	width: 253.98px;
	margin: 0 0 15px 0;
	text-align-last: center;
}

#recipientForm input {
	font-size: 20px;
	height: 30px;
	width: 250px;
	margin: 0 0 15px 0;
	text-align-last: center;
}

/* 收件人管理 地址列表 */
#recipientList .wrap{
	font-size: 18px;
	height: 120px;
	border: grey 1px solid;
	margin: 3px 0 0 0;
}

.wrap .left{
	width: 80%;
	height: 100%;
	float: left;
	display:  flex;
	justify-content:  center;
	flex-direction: column;
}

.wrap .left p{
	margin: 5px 0 5px 20px;
}

.wrap .right{
	width: 20%;
	height: 100%;
	display:  flex;
	align-items: center;
	justify-content:  center;
	flex-direction: column;
}

.wrap .right button{
	margin: 7px 0 0 0;
	font-size: 16px;
}

/* 結帳頁面 */
#rightWrap > p {
	margin: 15px 0 15px 0px;
	font-weight: bold;
}

#rightWrap > p:nth-child(3) {
	display: inline-block;
}

#recipientSection .wrap{
	margin: 5px 0 10px 0;
	font-size: 18px;
	border: grey 1px solid;
}

#recipientSection p{
	margin: 10px 0 10px 20px;
}

/* 結帳頁面彈出窗 */
#popupRecipientList{
	display: none;
	position: absolute;
	z-index: 9001;
	background-color: #FFF;
	border: #5599FF 5px solid;
	border-radius: 10px;
	width: 700px;
	height:  auto;
}

#popupRecipientList button{
	font-size: 16px;
    margin: 30px 0 30px 20px;
}

/* 結帳頁面 地址列表 */
#popupRecipientList .wrap{
	font-size: 18px;
	height: 120px;
	border: grey 1px solid;
	margin: 3px 0 0 0;
	/* 其下的樣式重用收件人管理的地址列表 */
}

/* 我的訂單頁面 */
.orderList{
	font-size: 22px;
}

.orderList p{
	display: inline-block;
	margin: 0 25px 20px 0;
}

/* 訂單內容 彈出窗口*/
#orderDetail{
	display: none;
	position: absolute;
	z-index: 9001;
	background-color: #FFF;
	border: #5599FF 5px solid;
	border-radius: 10px;
	width: 700px;
	height:  auto;
}

#orderDetail p{
	font-size: 20px;
	margin: 5px 0 20px 5px;
}

/* alertAPI的樣式 */
.alertAPI {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 300px;
	max-width: 600px;
	transform: translate(-50%,-50%);
	z-index: 99999;
	text-align: center;
	padding: 15px;
	border-radius: 3px;
}

.alertSuccess {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alertFailure {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alertInfo {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
