@charset "BIG5";

/* 基礎骨架 */
section{
	height: 100vh;
}

#title{
	margin-bottom: 25px;
	font-weight: 300;
}

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* 彈出窗的遮罩 */
#mask{
	display: none;
	position: absolute;
	z-index: 9000;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
	width: 100%;
	height:  100%;
}

/* alertAPI的樣式 */
.alertAPI {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 300px;
	max-width: 600px;
	transform: translate(-50%,-50%);
	z-index: 99999;
	text-align: center;
	padding: 15px;
	border-radius: 3px;
}

.alertSuccess {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alertFailure {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alertInfo {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
