@charset "BIG5";

/* header 超連結*/
#header a{
	font-size: 14px;
	text-decoration: none;
	color: blue;
}

/* 每個頁面的標題*/
#title{
	text-align: center;
}

/* 會員中心側邊欄 */
#userLeftBar{
	padding: 30px 0 0 0;
	float: left;
	width: 15%;
}

#userLeftBar a{
	font-size: 30px;
	text-decoration: none;
	color: blue;
	display: block;
	margin: 0 0 15px 0;
}

/* 會員中心右邊欄 */
#rightWrap{
	float: left;
	width: 85%;
}

/* 會員中心 歡迎詞 */
#content #welcome{
	margin: 50px 0 0 30px;
}

/* 商品目錄列表 */
#content #categoryList{
	float: left;
}

#content #categoryListChild{
	float: left;
}

#content ul li{
	font-size: 20px;
	width: 100px;
}

/* 商品列表 */
#productList {
	float: left;
	width: 100%;
}

#productList div{
	width: 250px;
	height: 300px;
	float: left;
}

#productList img{
	height: 200px;
}

#productList span, b{
	font-size: 20px;
}

/* 註冊表單 */
#registerInformation{
	display: flex;
	justify-content: center;
}

#registerInformation .words{
	margin: 0px;
	padding: 0px;
	height: 25px;
	font-size: 18px;
}

#registerInformation input{
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 250px;
	font-size: 18px;
}

#registerInformation div{
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 250px;
	font-size: 18px;
}

/* 表單內的刷新超連結 */
#registerInformation a{
	font-size: 12px;
	text-decoration: none;
	color: blue;
}

#registerInformation #submitButton{
	height: 25px;
	width: 50px;
	font-size: 18px;
}

#registerInformation #deleteButton{
	height: 25px;
	width: 50px;
	font-size: 18px;
}

/* 商品修改頁面的選項按鈕 */
#registerInformation #state1, #registerInformation #state0{
	width: auto;
	height: auto;
}

/* 商品修改頁面的選項按鈕的文字 */
#registerInformation #state1 + span, #registerInformation #state0 + span{
	font-size: 18px;
}

/* 登入頁面的提示訊息框 */
#registerInformation #loginAlert{
	margin: 7px 0 0 0;
}

/* 我的賣場 商品列表 */
#product{
	font-size: 20px;
	height: 260px;
	border: grey 1px solid;
	margin: 0 0 3px 0;
	
}

#product .wrap{
	height: 100%;
	width: 33.3%;
	float: left;
	display:  flex;
    align-items: center;
    justify-content:  center;
}

#product img{
	height: 100%;
}

/* 購物車頁面 商品列表 */
#cart{
	font-size: 26px;
}

#cart a{
	text-decoration: none;
	color: blue;
}

.cart{
	font-size: 20px;
	height: 260px;
	border: grey 1px solid;
	margin: 0 0 3px 0;
	
}

.cart .wrap{
	height: 100%;
	width: 33.3%;
	float: left;
	display:  flex;
    align-items: center;
    justify-content:  center;
}

.cart .wrap2{
	display:  flex;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
}

.cart img{
	height: 100%;
}

/* alertAPI的樣式 */
.alertAPI {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 300px;
	max-width: 600px;
	transform: translate(-50%,-50%);
	z-index: 99999;
	text-align: center;
	padding: 15px;
	border-radius: 3px;
}

.alertSuccess {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alertFailure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alertInfo {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
