@charset "BIG5";

/* 導覽列的超連結 */
header a {
	color: #999;
	transition: ease-in-out color .15s;
}
header a:hover {
	color: #fff;
	text-decoration: none;
}

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* 商品目錄的滑鼠游標樣式 */
.col-9 .nav dd:hover {
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/* register與login的驗證碼連結字體 */
.col-3 a{
	font-size: 16px;
}

/* profile頁面的彈出內容 */
#userChange, #passwordChange, #userDelete{
	display: none;
}

/* 彈出窗的遮罩 */
#mask{
	display: none;
	position: fixed;
	z-index: 9000;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
	width: 100%;
	height:  100%;
}

/* 彈出窗口 */
.popupStyle{
	display: none;
	position: absolute;
	z-index: 9001;
	background-color: #f8f9fa;
	border: #5599FF 5px solid;
	border-radius: 10px;
	top: 25%;
}

/* alertAPI的樣式 */
.alertAPI {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 300px;
	max-width: 600px;
	transform: translate(-50%,-50%);
	z-index: 99999;
	text-align: center;
	padding: 15px;
	border-radius: 3px;
}

.alertSuccess {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alertFailure {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alertInfo {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
