@charset "BIG5";


#header a{
	font-size: 14px;
	text-decoration: none;
	color: blue;
}

#title{
	text-align: center;
}

#userLeftBar{
	padding: 30px 0 0 0;
	float: left;
	width: 15%;
}

#userLeftBar a{
	font-size: 30px;
	text-decoration: none;
	color: blue;
	display: block;
	margin: 0 0 15px 0;
}

#rightWrap{
	float: left;
	width: 85%;
}

#content #loginAlready{
	text-align: center;
}

#content #welcome{
	margin: 50px 0 0 30px;
}

#content #categoryList{
	float: left;
}

#content #categoryListChild{
	float: left;
}

#content ul li{
	font-size: 20px;
	width: 100px;
}

#productList {
	float: left;
	width: 100%;
}

#productList div{
	width: 250px;
	height: 300px;
	float: left;
}

#productList img{
	height: 200px;
}

#productList span, b{
	font-size: 20px;
}

#registerInformation{
	display: flex;
	justify-content: center;
}

#registerInformation .words{
	margin: 0px;
	padding: 0px;
	height: 25px;
	font-size: 18px;
}

#registerInformation input{
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 250px;
	font-size: 18px;
}

#registerInformation div{
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 250px;
	font-size: 18px;
}

#registerInformation a{
	font-size: 12px;
	text-decoration: none;
	color: blue;
}

#registerInformation #submitButton{
	height: 25px;
	width: 50px;
	font-size: 18px;
}

#registerInformation #deleteButton{
	height: 25px;
	width: 50px;
	font-size: 18px;
}

#registerInformation #loginAlert{
	margin: 7px 0 0 0;
}

#product{
	font-size: 20px;
	height: 260px;
	border: grey 1px solid;
	margin: 0 0 3px 0;
	
}

#product .wrap{
	height: 100%;
	width: 33.3%;
	float: left;
	display:  flex;
    align-items: center;
    justify-content:  center;
}

#product img{
	height: 100%;
}

.cart{
	font-size: 20px;
	height: 260px;
	border: grey 1px solid;
	margin: 0 0 3px 0;
	
}

.cart .wrap{
	height: 100%;
	width: 33.3%;
	float: left;
	display:  flex;
    align-items: center;
    justify-content:  center;
}

.cart img{
	height: 100%;
}
