<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="wang.store.address.AddressMapper">
	
	<!-- 查詢出全台灣的縣市 String[] cityOption() -->
	<select id="cityOption" resultType="java.lang.String">
		SELECT DISTINCT
			city
		FROM
			streetname
	</select>
	
	<!-- 查詢出某個縣市的鄉鎮區 String[] countryOption(String city) -->
	<select id="countryOption" resultType="java.lang.String">
		SELECT DISTINCT
			country
		FROM
			streetname
		WHERE
			city=#{city}
	</select>
	
	<!-- 查詢出某縣市中的某鄉鎮區中的所有路名 String[] roadOption(@Param("city") String city, @Param("country") String country) -->
	<select id="roadOption" resultType="java.lang.String">
		SELECT DISTINCT
			road
		FROM
			streetname
		WHERE
			city=#{city} AND country=#{country}
	</select>
	
	<!-- 新增地址 Integer insert(Address address) -->
	<insert id="insert" parameterType="wang.store.address.Address">
		INSERT INTO address(
			user_id,
			address
		)
		VALUES(
			#{userId},
			#{address}
		)
	</insert>
	
	<!-- 以會員id查詢地址 List<Address> addressFindByUserId(Integer userId) -->
	<select id="addressFindByUserId" resultType="wang.store.address.Address">
		SELECT
			id,
			user_id AS userId,
			address,
			a_default AS aDefault
		FROM
			address
		WHERE
			user_id=#{userId}
	</select>
</mapper>







