<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="wang.store.cart.CartMapper">
	
	<!-- 新增購物車 Integer insert(Cart cart) -->
	<insert id="insert" parameterType="wang.store.cart.Cart">
		INSERT INTO cart(
			user_id,
			product_id,
			amount,
			total
		) 
		VALUES(
			#{userId},
			#{productId},
			#{amount},
			#{total}
		);
	</insert>
	
	<!-- 以會員id查詢購物車 List<Cart> selectByUserId(Integer userId) -->
	<select id="selectByUserId" resultType="wang.store.cart.Cart">
		SELECT
			c.id,
			c.user_id AS userId,
			c.product_id AS productId,
			p.name AS productName,
			p.category_id AS productCategoryId,
			p.price AS productPrice,
			p.number AS productNumber,
			p.image AS productImage,
			c.amount,
			c.total
		FROM
			cart c
		INNER JOIN
			product p
		ON
			c.product_id=p.id
		WHERE
			c.user_id=#{userId}
	</select>
	
	<!-- 以會員id及商品id查詢購物車 List<Cart> selectByUserIdAndProductId(Integer userId, Integer productId) -->
	<select id="selectByUserIdAndProductId" resultType="wang.store.cart.Cart">
		SELECT
			c.id,
			c.user_id AS userId,
			c.product_id AS productId,
			p.name AS productName,
			p.category_id AS productCategoryId,
			p.price AS productPrice,
			p.number AS productNumber,
			p.image AS productImage,
			c.amount,
			c.total
		FROM
			cart c
		INNER JOIN
			product p
		ON
			c.product_id=p.id
		WHERE
			c.user_id=#{userId} AND c.product_id=#{productId}
	</select>
	
	<!-- 刪除購物車 Integer delete(Integer id) -->
	<delete id="delete">
		DELETE FROM
			cart
		WHERE
			id=#{id}
	</delete>
	
	<!-- 修改購物車 Integer update(Integer productId, Integer amount, Integer total) -->
	<update id="update">
		UPDATE
			cart
		SET
			amount=#{amount}, total=#{total}
		WHERE
			user_id=#{userId} AND product_id=#{productId};
	</update>
</mapper>
