<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="wang.store.order.OrderMapper">
	
	<!-- 新增訂單資料 Integer insertOrderInformation(OrderInformation orderInformation) -->
	<insert id="insertOrderInformation" parameterType="wang.store.order.OrderInformation" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO order_information(
			total,
			user_id,
			recipient_id
		) 
		VALUES(
			#{total},
			#{userId},
			#{recipientId}
		);
	</insert>
	
	<!--  新增訂單的商品資料 Integer insertOrderProduct(OrderProduct orderProduct) -->
	<insert id="insertOrderProduct" parameterType="wang.store.order.OrderProduct">
		INSERT INTO order_product(
			order_id,
			product_id,
			product_number
		) 
		VALUES(
			#{orderId},
			#{productId},
			#{productNumber}
		);
	</insert>
</mapper>







