<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="wang.store.product.ProductMapper">
	
	<!-- 根據商品分類id找出該類的所有商品 List<Product> selectByCategoryId(Integer categoryId) -->
	<select id="selectByCategoryId" resultType="wang.store.product.Product">
		SELECT
			id,
			name,
			category_id AS categoryId,
			price,
			number,
			image,
			state,
			user_id AS userId
		FROM
			product
		WHERE
			category_id=#{categoryId} AND state=1
	</select>
	
	<!-- 根據會員id找出他所刊登的所有商品 List<Product> selectByUserId(Integer userId) -->
	<select id="selectByUserId" resultType="wang.store.product.Product">
		SELECT
			id,
			name,
			category_id AS categoryId,
			price,
			number,
			image,
			state,
			user_id AS userId
		FROM
			product
		WHERE
			user_id=#{userId}
	</select>
	
	<!-- 根據商品id找出對應的商品 Product selectById(Integer id) -->
	<select id="selectById" resultType="wang.store.product.Product">
		SELECT
			id,
			name,
			category_id AS categoryId,
			price,
			number,
			image,
			state,
			user_id AS userId
		FROM
			product
		WHERE
			id=#{id}
	</select>
	
	<!-- 新增商品 Integer insert(Product product) -->
	<insert id="insert" parameterType="wang.store.product.Product">
		INSERT INTO product(
			name,
			category_id,
			price,
			number,
			image,
			user_id
		)
		VALUES(
			#{name},
			#{categoryId},
			#{price},
			#{number},
			#{image},
			#{userId}
		);
	</insert>
	
	<!-- 刪除商品 Integer delete(Integer id) -->
	<delete id="delete">
		DELETE FROM
			product
		WHERE
			id=#{id}
	</delete>
	
	<!-- 修改商品 Integer update(Product product) -->
	<update id="update" parameterType="wang.store.product.Product">
		UPDATE
			product
		SET
			name=#{name},
			category_id=#{categoryId},
			price=#{price},
			number=#{number},
			image=#{image},
			state=#{state}
		WHERE
			id=#{id}
	</update>
</mapper>







