<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="wang.store.product.ProductMapper">
	
	<!-- 找出同階層的商品目錄 List<Product_category> findCategoryByParentId(Integer parentId) -->
	<select id="findCategoryByParentId" resultType="wang.store.product.Product_category">
		SELECT
			id,
			name,
			parent_id AS parentId
		FROM
			product_category
		WHERE
			parent_id=#{parentId}
	</select>
	
	<!-- 根據商品分類id找出該類的所有商品 List<Product> findProductByCategoryId(Integer categoryId) -->
	<select id="findProductByCategoryId" resultType="wang.store.product.Product">
		SELECT
			id,
			name,
			category_id AS categoryId,
			price,
			number,
			image,
			state,
			user_id AS userId
		FROM
			product
		WHERE
			category_id=#{categoryId}
	</select>
	
	<!-- 根據會員id找出他所刊登的所有商品 List<Product> findProductByUserId(Integer userId) -->
	<select id="findProductByUserId" resultType="wang.store.product.Product">
		SELECT
			id,
			name,
			category_id AS categoryId,
			price,
			number,
			image,
			state,
			user_id AS userId
		FROM
			product
		WHERE
			user_id=#{userId}
	</select>
	
	<!-- 根據商品id找出對應的商品 Product findProductById(Integer id) -->
	<select id="findProductById" resultType="wang.store.product.Product">
		SELECT
			id,
			name,
			category_id AS categoryId,
			price,
			number,
			image,
			state,
			user_id AS userId
		FROM
			product
		WHERE
			id=#{id}
	</select>
	
	<!-- 新增商品 Integer insertProduct(Product product) -->
	<insert id="insertProduct" parameterType="wang.store.product.Product">
		INSERT INTO product(
			name,
			category_id,
			price,
			number,
			image,
			user_id
		)
		VALUES(
			#{name},
			#{categoryId},
			#{price},
			#{number},
			#{image},
			#{userId}
		);
	</insert>
	
	<!-- 刪除商品 Integer productDelete(Integer id) -->
	<delete id="productDelete">
		DELETE FROM
			product
		WHERE
			id=#{id}
	</delete>
	
	<!-- 修改商品 Integer productUpdate(Product product) -->
	<update id="productUpdate" parameterType="wang.store.product.Product">
		UPDATE
			product
		SET
			name=#{name},
			category_id=#{categoryId},
			price=#{price},
			number=#{number},
			image=#{image},
			state=#{state}
		WHERE
			id=#{id}
	</update>
</mapper>







