<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="wang.store.recipient.RecipientMapper">
	
	<!-- 查詢出全台灣的縣市 String[] cityOption() -->
	<select id="cityOption" resultType="java.lang.String">
		SELECT DISTINCT
			city
		FROM
			streetname
	</select>
	
	<!-- 查詢出某個縣市的鄉鎮區 String[] districtOption(String city) -->
	<select id="districtOption" resultType="java.lang.String">
		SELECT DISTINCT
			district
		FROM
			streetname
		WHERE
			city=#{city}
	</select>
	
	<!-- 查詢出某縣市中的某鄉鎮區中的所有路名 String[] roadOption(@Param("city") String city, @Param("district") String district) -->
	<select id="roadOption" resultType="java.lang.String">
		SELECT
			road
		FROM
			streetname
		WHERE
			city=#{city} AND district=#{district}
	</select>
	
	<!-- 查詢出某個區域的郵遞區號 Integer postalCode(@Param("city") String city, @Param("district") String district, @Param("road") String road) -->
	<select id="postalCode" resultType="java.lang.Integer">
		SELECT DISTINCT
			postal_code
		FROM
			streetname
		WHERE
			city=#{city} AND district=#{district} AND road=#{road}
	</select>
	
	<!-- 新增收件人 Integer insert(Recipient recipient) -->
	<insert id="insert" parameterType="wang.store.recipient.Recipient">
		INSERT INTO recipient(
			user_id,
			postal_code,
			city,
			district,
			road,
			other,
			recipient_name,
			recipient_phone
		)
		VALUES(
			#{userId},
			#{postalCode},
			#{city},
			#{district},
			#{road},
			#{other},
			#{recipientName},
			#{recipientPhone}
		)
	</insert>
	
	<!-- 以會員id查詢收件人 List<Recipient> recipientFindByUserId(Integer userId) -->
	<select id="recipientFindByUserId" resultType="wang.store.recipient.Recipient">
		SELECT
			id,
			user_id AS userId,
			recipient_default AS recipientDefault,
			postal_code AS postalCode,
			city,
			district,
			road,
			other,
			recipient_name AS recipientName,
			recipient_phone AS recipientPhone
		FROM
			recipient
		WHERE
			user_id=#{userId}
		ORDER BY
			recipient_default DESC
	</select>
	
	<!-- 以會員id及收件人id查詢收件人 Recipient recipientFindByUserIdAndId(@Param("userId") Integer userId, @Param("id") Integer id) -->
	<select id="recipientFindByUserIdAndId" resultType="wang.store.recipient.Recipient">
		SELECT
			id,
			user_id AS userId,
			recipient_default AS recipientDefault,
			postal_code AS postalCode,
			city,
			district,
			road,
			other,
			recipient_name AS recipientName,
			recipient_phone AS recipientPhone
		FROM
			recipient
		WHERE
			user_id=#{userId} AND id=#{id}
	</select>
	
	<!-- 根據收件人id刪除收件人資料 Integer recipientDelete(Integer id) -->
	<delete id="recipientDelete">
		DELETE FROM
			recipient
		WHERE
			id=#{id}
	</delete>
	
	<!-- 將所有收件人的預設清除 Integer recipientDefaultClear(Integer userId) -->
	<update id="recipientDefaultClear">
		UPDATE
			recipient
		SET
			recipient_default=0
		WHERE
			user_id=#{userId}
	</update>
	
	<!-- 設定預設收件人 Integer recipientDefaultSet(@Param("userId") Integer userId, @Param("id") Integer id) -->
	<update id="recipientDefaultSet">
		UPDATE
			recipient
		SET
			recipient_default=1
		WHERE
			user_id=#{userId} AND id=#{id}
	</update>
	
	<!-- 修改收件人 Integer recipientUpdate(Recipient recipient) -->
	<update id="recipientUpdate" parameterType="wang.store.recipient.Recipient">
		UPDATE
			recipient
		SET
			postal_code = #{postalCode},
			city = #{city},
			district = #{district},
			road = #{road},
			other = #{other},
			recipient_name = #{recipientName},
			recipient_phone = #{recipientPhone}
		WHERE
			user_id=#{userId} AND id=#{id}
	</update>
</mapper>